<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'
    />

    <link rel='stylesheet' href='/cart.css' />
    <title>Document</title>
  </head>
  <body>
    <div class='cart-container'>
      <div class='cart-item-container'>
        <div class='mycart'>
          <h1>CART</h1>
        </div>
        <form action='/getquantity' method='POST' enctype='multipart/form-data'>
          {{#results}}
            <!-- cart item -->
            <div class='cart-item'>
              <img src='/Images/Cart-items/{{this.img}}' alt='' />

              <div class='item-name'>
                <h3>{{this.Items}}</h3>
              </div>

              <div class='item-price'>
                <span>${{this.Cost}}</span>
              </div>
              <div class='unit'>
                <input type='number' name='id' value='{{this.id}}' hidden />
                <input type='number' name='quantity' id='unit' />
                <h3>kg</h3>
                <img src='/Images/caret-down-solid.svg' alt='' />
                <div class='dropdown'>
                  <ul>
                    <li>kg</li>
                    <li>g</li>
                  </ul>
                </div>
              </div>
              <div class='trash'>
                <input
                style="z-index=-1;"
                  class='trash'
                  type='image'
                  src='/Images/trash-can-solid.svg'
                  alt=''
                  method="GET"
                  formaction='/deletecartitem/{{this.id}}'
                />
              </div>
            </div>
            <!-- cart item end-->
          {{/results}}

          {{#sid}}
          <button formaction="/getquantity/{{this.sid}}" class='checkout-btn'>checkout </button>
          {{/sid}}
        </form>

      </div>
      
    
  </body>
</html>