<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/page1.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap'
      rel='stylesheet'
    />

    <title>Site Page</title>
  </head>

  <body>

    <!-- Image section -->
    {{#sites}}
      <div class='image'>
        <h1>{{this.name}}</h1>
        <img src='/Images/site1.jpg' alt='' />
      </div>
      <form action='/addsiteimg' action='POST' enctype='multipart/form-data'>
        <input type='file' name='sampleFile' accept='image/*' />
        <button type='submit' action='/addsiteimg'>Submit</button>
      </form>
      <!-- Info section -->
      <div class='info'>
        <h2>Address:{{this.address}}</h2>
        <br />
        <h2>Date:{{this.date}}</h2>
        <br />
        <h2>Additional info:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
          odit vero, ipsa libero modi quasi minus quisquam similique odio,
          incidunt qui tempore quia perspiciatis dolor maiores! Omnis quam
          doloribus magnam.</p>
      </div>

      <!-- Estimate card section -->

      <div class='headings'>
        <h1>Estimates of materials</h1>
        <hr class='hr-1' />
      </div>
    <div class="modal-overlay">
      <div class="modal-container">
        <form action="/addestimate" action="POST" enctype="multipart/form-data">
         
          <!-- Estimated quantity -->
          <label for="">Estimated Quantity:</label> <br> <br>
          <input type='number' name='id' value='{{this.id}}' hidden />
          <label for="bricks">Bricks :</label>
          <input type="number" id="brick" name="brickno">
          <span>kg</span> <br><br>
          <label for="cement">Cement :</label>
          <input type="number" id="cement" name="cementno">
          <span>kg</span> <br><br>
          <label for="steel">Steel :</label>
          <input type="number" id="steel" name="steelno">
          <span>kg</span> <br><br>
          <label for="sand">Sand :</label>
          <input type="number" id="sand" name="sandno">
          <span>kg</span> <br><br>
          <label for="aggregate">Aggregate :</label>
          <input type="number" id="aggregate" name="aggregateno">
          <span>kg</span> <br><br>
          
          <br><br>
          <button type="submit" >Submit</button>
        </form>
        <button class="close-btn"><i class="fas fa-times"></i></button>

      </div>
    </div>

  </div>
  <div class="add-site">
    {{!-- <form action="/addsite" method="POST" enctype="multipart/form-data">

    </form> --}}
    <button class="btn modal-btn">update estimates
    {{#if checkmesg}}
    <h3>Duplicate site!</h3>
    {{/if}}
    {{#if mesg}}
    <h3>Data Inserted</h3>
    {{/if}}
  </div>


{{!-- {{#estimates}} --}}
      <div class='estimate'>

        <div class='est_card'>
          <img src='/Images/Bricks.png' alt='' />
          <h2 id='name'>Bricks</h2>
          <h3 id='estimate'>Estimate</h3>
          <p id='es_p'>{{this.Bricks}}</p>
          <h3 id='used'>Stocks</h3>
          <p id='us_p'>{{this.brickno}}</p>
        </div>

        <div class='est_card'>
          <img src='/Images/Cement.png' alt='' />
          <h2 id='name'>Cement</h2>
          <h3 id='estimate'>Estimate</h3>
          <p id='es_p'>{{this.Cement}}</p>
          <h3 id='used'>Stocks</h3>
          <p id='us_p'>{{this.cementno}}</p>
        </div>

        <div class='est_card'>
          <img src='/Images/Steel.png' alt='' />
          <h2 id='name'>Steel</h2>
          <h3 id='estimate'>Estimate</h3>
          <p id='es_p'>{{this.Steel}}</p>
          <h3 id='used'>Stocks</h3>
          <p id='us_p'>{{this.steelno}}</p>
        </div>

        <div class='est_card'>
          <img src='/Images/Sand.png' alt='' />
          <h2 id='name'>Sand</h2>
          <h3 id='estimate'>Estimate</h3>
          <p id='es_p'>{{this.Sand}}</p>
          <h3 id='used'>Stocks</h3>
          <p id='us_p'>{{this.sandno}}</p>
        </div>

        <div class='est_card'>
          <img src='/Images/Aggregate.png' alt='' />
          <h2 id='name'>Aggregate</h2>
          <h3 id='estimate'>Estimate</h3>
          <p id='es_p'>{{this.Aggregate}}</p>
          <h3 id='used'>Stocks</h3>
          <p id='us_p'>{{this.aggregteno}}</p>
        </div>
      </div>
      {{!-- {{/estimates}} --}}
    
    <!-- Current status section -->

    <div class='headings'>
      <h1>Current status of materials</h1>
      <hr class='hr-1' />
    </div>
    <div class='curren_status'>
      <div class='curr_card'>
        <img src='/Images/Bricks.png' alt='' />
        <h3>Bricks</h3>
        

        <a href='/addcartitem/1/{{this.id}}'>
          <button class='addcart'>ADD+</button>
        </a>
      </div>

      <div class='curr_card'>
        <img src='/Images/Cement.png' alt='' />
        <h3>Cement</h3>
        
        <!-- <a href="">
                <img src="./Images/Add_to_cart.png" alt="cart_icon">
            </a> -->
        <a href='/addcartitem/2/{{this.id}}'>
          <button class='addcart'>ADD+</button>
        </a>

      </div>

      <div class='curr_card'>
        <img src='/Images/Steel.png' alt='' />
        <h3>Steel</h3>
        
        <!-- <a href="">
                <img src="./Images/Add_to_cart.png" alt="cart_icon">
            </a> -->

        <a href='/addcartitem/3/{{this.id}}'>
          <button class='addcart'>ADD+</button>
        </a>

      </div>

      <div class='curr_card'>
        <img src='/Images/Sand.png' alt='' />
        <h3>Sand</h3>
        
        <!-- <a href="">
                <img src="./Images/Add_to_cart.png" alt="cart_icon">
            </a> -->

        <a href='/addcartitem/4/{{this.id}}'>
          <button class='addcart'>ADD+</button>
        </a>

      </div>

      <div class='curr_card'>
        <img src='/Images/Aggregate.png' alt='' />
        <h3>Aggregate</h3>
       
        <!-- <a href="">
                <img src="./Images/Add_to_cart.png" alt="cart_icon">
            </a> -->
        <a href='/addcartitem'>
          <a href='/addcartitem/5/{{this.id}}'>
            <button class='addcart'>ADD+</button>
          </a>
        </a>

      </div>
      {{/sites}}

    </div>{{#sites}}
      <div class='cartbtndiv'>
        <a href='/cart/{{this.id}}'>
          <button class='cartbtn'>Add to Cart</button>
        </a>
      </div>
    {{/sites}}

    <!-- Footer -->

    <div class='about_us'>
      <div class='IEEE-SJCE'>
        <h1>Construction Ltd.</h1>
      </div>
      <div class='contact_us'>
        <h1>ADDRESS</h1>
        <p>

          Sri Jayachamarajendra College of Engineering
          <br />
          Mysuru, 570006
          <br />
          Phone: +(91) 6205701439
          <br />
          Email: ieeesjce2019@gmail.com
        </p>
      </div>

      <div class='follow_us'>
        <h1>FOLLOW US</h1>
        <a href=''><img src='./Images/instagram.png' alt='' /></a>
        <a href=''><img src='./Images/facebook.png' alt='' /></a>
        <a href=''><img src='./Images/linkedIn.png' alt='' /></a>
        <a href=''><img src='./Images/youtube.png' alt='' /></a>
      </div>
    </div>

    <div class='footer'>
      <!-- <hr> -->
      <p>
        Copyrights © 2022 Construction Ltd. | Developed by the WBD Board at
        Construction Ltd.
      </p>
    </div>
    <script src='/site.js'></script>

    <script
      src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'
    ></script>
    <script
      src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js'
    ></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'
    ></script>
  </body>

</html>